@use '../media' as *;

.about_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    min-height: 400px;

    > div {
        width: 80%;
        height: -moz-max-content;
        height: max-content;
        color: rgb(100, 100, 100);

        > {
            h2 {
                font-size: clamp(2rem, 5vw, 3rem);
                white-space: nowrap;
            }

            div {
                height: 3px;
                background: gray;
            }

            p {
                padding: 2rem;
                line-height: 2;
                font-size: clamp(0.8rem, 1.4vw, 1.3rem);
                word-break: keep-all;
            }
        }
    }
}

@include media_max_660 {
    .about_wrap > div > p {
        text-align: center;
    }
}

@include media_max_400 {
    .about_wrap > div > p {
        text-wrap: pretty;
        padding-inline: unset;
    }
}
  
  