@use '../variables' as *;
@use '../level' as *;

.cursor_wrap {
    --opacity:0;
    --translateX:0;
    --translateY:0;
    --content:"";

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:6rem;
    height:6rem;
    pointer-events:none;
    border:2px solid $white;
    border-radius: 50%;
    color:$white;
    mix-blend-mode:difference;
    z-index: $index_forward10;
    opacity:var(--opacity);
    transform: translate3d(calc(var(--translateX) + 60px), calc(var(--translateY) + 60px), 0);
    transition: opacity 0.2s;
    transition-delay:0.2s;

    &::before {
      content: var(--content);
      color:inherit;
    }
  }
  