@use '../variables' as *;
@use '../media' as *;

.footer_wrap {
    text-align:right;
    padding-right:1rem;
    padding-bottom:0.5rem;
    font-size:0.9rem;
    background:$white;
}

@include media_max_917 {
    .footer_wrap {
        padding:0;
        font-size:0.8rem;
        padding-top:1rem;
    }
}

@include media_max_330 {
    .footer_wrap {
        font-size:0.6rem;
    }
}