@use '../level' as *;
@use '../variables' as *;
@use '../media' as *;

.header_wrap {
  position: fixed;
  z-index: $index_forward1;
  width: 100%;
  padding-inline: 1rem;
  padding-block: 1rem;
  color: $white;
  mix-blend-mode: difference;

  > {
    .header_desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > {
        .header_logo {
          font-size: 3rem;
        }

        ul {
          &:nth-child(2) {
            display: flex;
            gap: 3rem;

            > li > a {
              font-size: 1.2rem;
            }
          }

          &:nth-child(3) > li:last-child > p {
            text-align: right;
          }
        }
      }
    }

    .header_mobile_menuOpenBtn, .header_mobile {
      display: none;
    }
  }
}

@include media_max_917 {
  .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.open > {
      .header_desktop, .header_mobile_menuOpenBtn {
        opacity: 0;
        visibility: hidden;
      }

      .header_mobile {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
      }
    }

    &.close > {
      .header_desktop, .header_mobile_menuOpenBtn {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
      }

      .header_mobile {
        opacity: 0;
        visibility: hidden;
      }
    }

    > {
      .header_desktop, .header_mobile {
        transition: opacity 0.5s, visibility 0.5s;
      }

      .header_mobile_menuOpenBtn {
        transition: opacity 0.5s, visibility 0.5s;

        &:hover {
          cursor: pointer;
        }
      }

      .header_mobile > button:hover {
        cursor: pointer;
      }

      .header_desktop > ul {
        &:nth-child(2), &:nth-child(3) {
          display: none;
        }
      }

      .header_mobile_menuOpenBtn {
        display: block;
        background: none;
        border: none;
      }

      .header_mobile {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 0.5rem;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        height: 102px;

        > {
          button {
            position: absolute;
            right: 1rem;
            background: none;
            border: none;
          }

          ul {
            display: flex;
            gap: 1rem;
          }
        }
      }
    }
  }
}

@include media_max_470 {
  .header_wrap > .header_mobile {
    align-items: unset;
    padding-inline: 0.5rem;
  }
}

@include media_max_400 {
  .header_wrap {

    > .header_desktop > .header_logo {
      font-size: 1.5rem;
    }

    > .header_mobile_menuOpenBtn {
      width: 2rem;
      height: 2rem;

      > img {
        width: inherit;
        height: inherit;
      }
    }

    > .header_mobile {
      justify-content: center;
      height: 67px;

      > button {
          width: 2rem;
          height: 2rem;

          > img {
            width: inherit;
            height: inherit;
          }
      }

      > ul:nth-child(2) {
        position:absolute;
        top:1rem;
        flex-direction:column;
        gap:0.3vw;

        > li > a {
          font-size:clamp(0.7rem, 4vw, 1rem);
        }
      }

      > ul:nth-child(3) {
        display:none;
      }
    }
  }
}