@use "components/header";
@use "components/cursor";
@use "components/intro";
@use "components/hero";
@use "components/projects";
@use "components/about";
@use "components/skills";
@use "components/contact";
@use "components/footer";

@use './media' as *;
@use './variables' as *;

html {
    scroll-behavior:smooth;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

a {
    text-decoration:none;
    color:inherit;
}

li {
    list-style:none;
}

.scroll:hover ~ .cursor_wrap {
    width:5rem;
    height:5rem;
}

@media (max-width:216px) {
    html {
        overflow:hidden;
    }

    body {
        &::before {
            content:"죄송합니다.\A 현재 디바이스에서는\A 화면을 지원하지 않습니다.";
            position:fixed;
            top:0;
            inset:0;
            display:flex;
            align-items:center;
            justify-content:center;
            background:$black;
            color:$white;
            z-index:9999;
            white-space:pre-line;
        }
    }
}
